{% extends 'base.html' %}
{% load static %}

{% block title %}Logged Out - Grand Lodge of Kosovo{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <div class="login-header">
            <img src="{% static 'images/logo.png' %}" alt="Lodge Logo" class="login-logo">
            <h2>Logged Out</h2>
        </div>
        <p class="login-message">You have been successfully logged out.</p>
        <a href="{% url 'login' %}" class="login-button">Sign In Again</a>
    </div>
</div>
{% endblock %} 